*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.hero{
    width: 100%;
    height: 100vh;
    background-image: url(others/images/water.png);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}
button{
    color: #fbfcfd;
    padding: 10px 25px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}
.content{
    color: #fbfcfd;
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    z-index: 2;
}
h1{
    font-size: 80px;
    margin: 10px 0 30px;
    line-height: 80px;
}
.bubbels img{
    width: 50px;
    animation: bubble 7s linear infinite;
}
.bubbels{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: -70px;
}

@keyframes bubble{
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    70%{
        opacity: 1;
    }
    100%{
        transform: translateY(-80vh);
        opacity: 0;
    }
}


.bubbels img:nth-child(1){
    animation-delay: 2s;
    width: 25px;
}
.bubbels img:nth-child(2){
    animation-delay: 1s;
}
.bubbels img:nth-child(3){
    animation-delay: 3s;
    width: 25px;
}
.bubbels img:nth-child(4){
    animation-delay: 4.5s;
}
.bubbels img:nth-child(5){
    animation-delay: 3s;
}
.bubbels img:nth-child(6){
    animation-delay: 6s;
    width: 20px;
}
.bubbels img:nth-child(7){
    animation-delay: 7s;
    width: 30px;
}